@keyframes scaleIn{
    100%{
        transform: scale(1);
    }0%{
        transform: scale(0);
    }
}

.scaleIn{
    animation: 0.25s scaleIn;
}

.bg-image {
    /* The image used */
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

input.simpleInput{
    position: relative;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    width: 80%;
    margin: auto;
    display: table;
    font-size: 14px;
}

input.simpleInput:focus{
    border-bottom: 2px solid #8c1515;
}

input.simpleInput:invalid{
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid #d50000;
}


ion-item {
    --highlight-color-focused: red;
}

.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus.item-inner{
    border-bottom-color: #d50000 !important;
    box-shadow: inset 0 -1px 0 0 #d50000;
}

.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.item-input-has-focus:last-child{
    border-bottom-color: #d50000 !important;
    box-shadow: inset 0 -1px 0 0 #d50000;
}