<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;"></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div
    style="height: calc(100vh); background: url('./assets/images/bgg.png'); background-position: center; /*! opacity: 0.25; */background-size: 100% 67%; filter: blur(2px); -webkit-filter: blur(2px)">
  </div>

  <main class="mdl-layout__content"
    style="height: calc(100vh - 56px); background: #f5f7fa; position: absolute; top: 0;width: 100%;height: 100%;background: transparent;">
    <div class="page-content " style="z-index: 10">
      <div *ngIf="this.part != 'guest'" class="mdl-card mdl-shadow--2dp"
        style="width: 85%; display: table; margin: 25% auto">
        <button class="mdl-button mdl-button--icon" (click)="goBack()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>

        <img src="./assets/images/logoecco.png" style="width: 25%; display: table; margin: 5px auto">
        <div class="mdl-card__title">
          <span class="descChar" style="font-size: 12px">Olá seja muito bem vindo!</span>
        </div>
        <div class="mdl-card__media mdl-color--white">
          <ion-list inset>
            <ion-item>
              <ion-label>E-mail</ion-label>
              <ion-input [(ngModel)]="this.email" class="simpleInput" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Senha</ion-label>
              <ion-input [(ngModel)]="this.senha" (keydown.enter)="cadastrar()" class="simpleInput" type="password">
              </ion-input>
            </ion-item>
          </ion-list>
          <button (click)="cadastrar()"
            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--red-600 mdl-color-text--white"
            style="width: 90%; margin: auto; display: table;">
            <span>Acessar</span>
            <i class="material-icons mdl-color-text--red-900" style="float: right; margin-top: 5px">send</i>
          </button>
        </div>
        <div class="mdl-card__actions">
          <p style="padding-left: 10px; font-size: 10px; padding-right: 10px;">
            Acompanhe todas as novidades do mundo do Merchandising que nós separamos para você!
          </p>
          <p style="padding-left: 10px; font-size: 10px; padding-right: 10px;">
            Veja também tablóides de todas as redes.
          </p>
          <span class="descChar" style="font-size: 14px; padding: 12px; text-align: center; margin-top: 10px;">Conheça
            agora
            mesmo! <a (click)="cadastra" style="color: #d50000; font-weight: bold;"
              (click)="this.part = 'guest'">Cadastre-se</a></span>
        </div>
      </div>

      <div *ngIf="this.part == 'guest'" class="mdl-card mdl-shadow--2dp"
        style="width: 85%; display: table; margin: 25% auto">
        <button (click)="this.part = ''" class="mdl-button mdl-js-button mdl-button--icon"
          style="position: absolute; top: 5px; left: 15px">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <img src="./assets/images/logoecco.png" style="width: 25%; display: table; margin: 5px auto">
        <div class="mdl-card__title">
          <span class="descChar" style="font-size: 12px">Cadastre-se já e comece a utilizar!</span>
        </div>
        <div class="mdl-card__media mdl-color--white">
          <ion-list inset>
            <ion-item>
              <ion-label style="font-size: 14px">Nome</ion-label>
              <ion-input [(ngModel)]="this.nome" class="simpleInput" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label style="font-size: 14px">E-mail</ion-label>
              <ion-input [(ngModel)]="this.email" class="simpleInput" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label style="font-size: 14px">Telefone</ion-label>
              <ion-input [(ngModel)]="this.telefone" class="simpleInput" type="text"></ion-input>
            </ion-item>
          </ion-list>

          <button *ngIf="false" (click)="presentPopover()" class="mdl-button mdl-js-button mdl-js-ripple-effect"
            style="width: 95%; margin: auto; display: table; border-bottom: 1px solid #e8e8e8; text-transform: none">
            <span>Descreva sua atividade</span>
            <i class="material-icons mdl-color-text--red-900"
              style="float: right; margin-top: 5px">keyboard_down_arrow</i>
          </button>

          <div class="mdl-card__actions" style="padding: 30px; padding-top: 10px;">
            <button (click)="startWithGuest(this.nome, this.email, this.telefone)"
              class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--red-600 mdl-color-text--white p-2"
              style="width: 90%; margin: auto; display: table;">
              <span>Cadastrar</span>
              <i class="material-icons mdl-color-text--red-900" style="float: right; margin-top: 5px">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>