<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #f5f7fa; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <main class="mdl-layout__content mdl-color--white"
    style="height: calc(100vh - 56px); background-color: #f5f7fa !important">
    <div class="page-content" style="background: #f5f7fa">
      <div class="mdl-card" style="width: 100%; background-color: transparent">
        <button (click)="dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" style="color: red;">arrow_back</i>
        </button>
        <div class="mdl-card__media" style="margin-top: 55px; background-color: transparent">
          <span style="display: table; margin: auto; font-weight: bold">{{newGroupName}}</span>
          <div *ngFor="let c of noticia.grupos; let i = index">
            <div *ngIf="c.app_type == 'image'" class="mdl-card mdl-shadow--2dp"
              style="display: table; margin: 10px auto;">
              <div (click)="openNewImage(c.app_title, c.app_text, c.image, c.app_id, c)" [style.background]="c.app_image" class="mdl-card__title"
                style="color: #f5f7fa; height: 176px;">
                <span *ngIf="c.app_fotos_extras.length > 0" style="position: absolute; top: 5px; right: 5px;">
                  <i class="material-icons" style="color: red">style</i>
                </span>
                <h2 class="mdl-card__title-text descChar"
                  style="padding: 10px; position: relative; right: 15px; background: rgba(0,0,0,0.4); color: #f5f7fa; position: relative; top: 15px">
                  {{c.app_title}}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                {{c.app_text}}
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a (click)="openNewImage(c.app_title, c.app_text, c.image, c.app_id)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--red-700" style="width: 100%; display: table; margin: auto">
                  Comentar
                </a>
              </div>
            </div>

            <div *ngIf="c.app_type == 'simple'" class="mdl-card mdl-shadow--2dp"
              style="display: table; margin: 10px auto;">
              <div class="mdl-card__title mdl-color--grey-200" style="color: #000;">
                <h2 class="mdl-card__title-text descChar" style="position: relative; top: 5px; font-size: 18px">
                  {{c.app_title}}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <p>
                  {{c.app_text}}
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>