<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa; height: 100%">
      <span style="display: table; margin: auto; font-weight: bold; font-size: 22px; position: relative; top: 5px">Quiz Eccotrade</span>      
      <div style="width: 100%; display: table; margin: 15px auto;">
        <span style="display: table; margin: 10px auto">{{questionTime}}</span>
        <span style="display: table; margin: auto">{{questionTitle}}</span>
        <div style="display: table; margin: 10px auto; width: 100%; border-top: 1px solid #8c1515;">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" *ngFor="let o of options;" style="width: 100%; margin: auto; display: table; height: 100%; border-bottom: 1px solid #dcdcdc;" (click)="setOption(o)">
            {{o}}
          </button>
        </div>
      </div>
    </div>
    </main>
</div>
