<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;"></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;"
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa;">
    <div class="page-content">
      <!-- <div style="display: table; margin: auto; width: 100%;">
          <span style="display: table; margin: 4px auto">Filtrar</span>
          <ion-item style="width: 90%; display: table; margin: auto">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="showDate(data_inicio)" style="width: 120px; text-transform: none;">
              <span>{{data_inicio.showValue}}</span>
            </button>
            <div style="display: inline-table; width: 35px; height: 30px; background: #8c1515; color: #f5f7fa; border-radius: 2px;" >
              Data
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="showDate(data_fim)" style="width: 120px; text-transform: none;">
              <span>{{data_fim.showValue}}</span>
            </button>
          </ion-item>
          <button class="mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white" (click)="searchJobs(data_inicio.value, data_fim.value)" style="margin: auto;display: table; width: 100%;">
            <span>Filtrar</span>
          </button>
        </div> -->

      <div style="width: 100%; margin: 10px auto; display: table;">
        <span style="display: table; margin: auto; color: #8c1515">{{this.navParams.get('red_nome')}}</span>
        <span style="font-size: 12px; margin: auto; display: table;">{{this.navParams.get('rfil_nome')}}</span>

        <button (click)="insertFeedback()" *ngIf="this.userData.user && this.userData.user.Usr_Nivel == 'Externo'" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
          style="background: #8c1515; z-index: 999; margin: 10px; width: 85%; margin: auto; display: table;">
          <span>Enviar feedback</span>
        </button>
      </div>
      <div *ngIf="jobs.length < 1" style="width: 100%; display: table; margin: 20px auto">
        <i class="material-icons" style="display: table; margin: auto; font-size: 42px;">mood_bad</i>
        <div style="width: 80%; height: 1px; border-top: 1px solid #dcdcdc; display: table; margin: 5px auto;"></div>
        <span style="display: table; margin: auto; font-size: 12px;">Nenhum job registrado</span>
      </div>
      <table *ngIf="jobs.length > 0" class="ion-diagnostic-table"
        style="font-size: 13px; margin-bottom: 20px; width: 100%; border-top: 1px solid #dcdcdc;">
        <thead>
          <tr>
            <td>Cliente</td>
            <td>Promotor</td>
            <td>Data</td>
            <td>Hora</td>
            <td>Foto</td>
            <!-- <td >Local.</td>-->
            <td>Infos.</td>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer" *ngFor="let j of jobs; let i = index">
            <td>{{j.Cli_Nome}}</td>
            <td>{{j.PRO_Nome}}</td>
            <td>{{j.JOB_Data_Hora_Input2}}</td>
            <td>{{j.JOB_Hora_Job}}</td>
            <td>
              <button (click)="openInfos('photo', j)"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" style="color: #8c1515">photo_library</i>
              </button>
            </td>
            <!-- <td>
                <button (click)="openInfos('local', j)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                  <i class="material-icons" style="color: #8c1515">location_on</i>
                </button>
              </td>
              <td> -->
            <td>
              <button (click)="openInfos('infos', j)"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" style="color: #8c1515">info_outline</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>