page-jobs {
    .nopad{
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding: 12px 5px;
    }

    .dangerTr{
        color: rgb(0, 146, 12);
    }
    
    .normalTr{
        color: rgba(139, 139, 139, 0.5);
    }
    
    table{
        tr td{
            text-align: center;
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
            padding: 0px;
            font-size: 12px;
        }
    }
}
