<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;"></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.OpenDrawer()" style="position: absolute; left: 10px; top: 12px;"
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">reorder</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
    <span *ngIf="status == false"
      style="float: right; font-size: 12px; display: table; margin: auto">Desconectado</span>
  </header>
  <div class="mdl-layout__drawer" id="drawerMain">
    <span class="mdl-layout-title char">Menu</span>
    <nav class="mdl-navigation">
      <a *ngFor="let m of this.menu; let i = index" class="mdl-navigation__link descChar"
        (click)="m.news == true ? this.openNews(m):this.openFromMenu(m)" style="position: relative;"
        [ngStyle]="{'marginBottom': (i == this.menu.length -1 ? '45px':'0px')}">
        <i class="material-icons" *ngIf="m.customized === undefined">{{m.icon}}</i>
        <span *ngIf="m.customized === undefined">{{m.title}}</span>

        <span *ngIf="m.customized == true"
          style="border-radius: 100px; padding: 10px; background: #f44242; color: #000; width: 40px; height: 40px;position: absolute;text-align: center;left: 5px;">{{m.title.split('')[0]}}</span>
        <span *ngIf="m.customized == true" style="padding-left: 40px;position: relative;top: 10px;">{{m.title}}</span>
      </a>
    </nav>
  </div>

  <ion-content style="background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <div *ngIf="noticia.grupos.length < 1 && noticia.grupos === undefined">
        <span style="display: table; margin: auto; font-size: 22px; font-weight: bold;">Nenhuma notícia!</span>
      </div>
      <div *ngFor="let n of noticia.grupos; let i = index">
        <div (click)="upgradeAccordion(n, i)" style="cursor: pointer;" class="accordion_title">
          <h5 style="border-bottom: 1px solid #dcdcdc; margin: 5px;">
            {{n.group_nome}}
            <i class="material-icons"
              style="margin-left: 10px;">{{ n.activated == true? 'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
          </h5>

        </div>
        <div id="accordion_{{i}}" class="mdl-grid resizeUp" style="display: table;">
          <div *ngIf="n.activated == true">
            <div *ngFor="let c of n.content; let i = index">
              <div *ngIf="c.app_type == 'image'" class="mdl-card mdl-shadow--2dp"
                style="display: table; margin: 10px auto;">
                <div (click)="openNewImage(c, c.app_id)" [style.background]="c.app_image" class="mdl-card__title"
                  style="color: #f5f7fa; height: 176px;">
                </div>
                <div style="width: 100%; text-align: center; background: rgba(0,0,0,0.4)">
                  <h2 class="mdl-card__title-text descChar" style="background: rgba(0,0,0,0.4); color: #f5f7fa;">
                    {{c.app_title}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  {{c.app_text}}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a (click)="openNewImage(c.image, c.app_id)"
                    class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--red-700"
                    style="width: 100%; display: table; margin: auto">
                    Comentar
                  </a>
                </div>
              </div>

              <div *ngIf="c.app_type == 'simple'" class="mdl-card mdl-shadow--2dp"
                style="display: table; margin: 10px auto;">
                <div class="mdl-card__title mdl-color--grey-200" style="color: #000;">
                  <h2 class="mdl-card__title-text descChar" style="position: relative; top: 5px; font-size: 18px">
                    {{c.app_title}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <p>
                    {{c.app_text}}
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="cards.length < 1" style="width: 100%;">
        <i class="material-icons" style="display: table; margin: 5% auto; font-size: 60px">rss_feed</i>
        <span style="position: relative; font-size: 14px; display: table; margin: auto">Nenhuma noticia</span>
      </div>

      <div *ngFor="let c of cards; let i = index">
        <div *ngIf="c.app_type == 'image'" class="mdl-card mdl-shadow--2dp"
          style="margin: 10px auto; position: relative; width: 85%">

          <span *ngIf="c.app_fotos_extras.length > 0" style="position: absolute; top: 5px; right: 5px;">
            <i class="material-icons" style="color: red">style</i>
          </span>

          <div (click)="openNewImage(c, c.app_id)" [style.background]="c.app_image" class="mdl-card__title"
            style="color: #f5f7fa; height: 176px;">
          </div>

          <div style="width: 100%; min-height: 45px; text-align: center; background: rgba(0,0,0,0.4)">
            <h2 class="mdl-card__title-text descChar" style="color: #f5f7fa; display: table; margin: 2px auto">
              {{c.app_title}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            {{c.app_text}}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a (click)="openNewImage(c, c.app_id)"
              class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--red-700"
              style="width: 100%; display: table; margin: auto">
              Comentar
            </a>
          </div>
        </div>

        <div *ngIf="c.app_type == 'simple'" class="mdl-card mdl-shadow--2dp" style="margin: 10px auto;">
          <div class="mdl-card__title mdl-color--grey-200" style="color: #000;">
            <h2 class="mdl-card__title-text descChar" style="position: relative; top: 5px; font-size: 18px">
              {{c.app_title}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p>
              {{c.app_text}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <div class="mdl-layout__obfuscator" id="obfuscatorMain" (click)="closeDrawer()"></div>
</div>