<!-- NAO APAGAR COMENTARIOS DO METODO, POSSIVEL IMPLEMENTAÇÃO FUTURA -->
<!-- PEDIDO QUE FOSSE REMOVIDO TAIS FUNCOES, MAS COM POSSIBILIDADE DE RETORNO DAS MESMAS   --- 13/10/2019 -->


<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <div *ngIf="this.navParams.get('rede_nome') !== undefined" style="background: #8c1515; height: 60px;">
        <span class="char" style="position: relative; top: 20px; left: 25px; color: #f5f7fa; font-weight: bold;">{{this.navParams.get('rede_nome')}} - {{this.navParams.get('rfil_nome')}}</span>
      </div>

      <!-- <div style="display: table; margin: auto; width: 100%;">
        <span style="display: table; margin: 4px auto">Filtrar</span>
        <ion-item style="width: 90%; display: table; margin: auto">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="showDate(data_inicio)" style="width: 120px; text-transform: none;">
            <span>{{data_inicio.showValue}}</span>
          </button>
          <div style="display: inline-table; width: 35px; height: 30px; background: #8c1515; color: #f5f7fa; border-radius: 2px;" >
            Data
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="showDate(data_fim)" style="width: 120px; text-transform: none;">
            <span>{{data_fim.showValue}}</span>
          </button>
        </ion-item>
        <button class="mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white" (click)="selectPesquisas(data_inicio.value, data_fim.value)" style="margin: auto;display: table; width: 100%;">
          <span>Filtrar</span>
        </button>
      </div> -->
      
      <div *ngFor="let f of pesquisas" style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
          <span  style="font-size: 16px; cursor: pointer; position: relative; top: 10px; font-weight: bold; display: table; margin: auto">
            {{f.cliente_nome}} - {{f.dias_semana.replace(';', ' / ').replace(';', ' / ').replace(';', ' / ').replace(';', ' / ').replace(';', ' / ')}}
          </span>

          <div *ngFor="let fc of f.content; let fI = index">
            <span style="font-size: 12px; cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{fc.pro_nome}}</span>
            <div style="width: 100%; border-top: 1px solid #940000; display: table;margin: 25px auto; border-bottom: 1px solid #fefefe;" >
              
              <div *ngIf="fc.pesquisas.length < 1" style="display: table; margin: 5px auto; width: 55%">
                <i class="material-icons" style="font-size: 22px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                <span style="display: table; margin: auto;  margin-top: 10px; font-size: 10px">Nenhuma pesquisa encontrada!</span>
              </div>

              <table *ngIf="fc.pesquisas.length > 0" class="ion-diagnostic-table" style="font-size: 13px; margin-bottom: 20px; width: 100%;">
                <thead>
                  <tr>
                    <td>Dt. de realização</td>
                    <!-- <td>Dt. de vencimento</td> -->
                    <!-- <td>Qntd. (Un.)</td> -->
                    <!-- <td >Preço (R$)</td>
                    <td>N. de Frentes</td> -->
                    <td>Rupt. Total</td>
                    <td>Prod. em Estoque</td>
                    <td>Prod. em venda</td>
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer" *ngFor="let infos of fc.pesquisas; let pI = index" class="{{(infos.hasDif === true) ? 'dangerRow':''}}">
                    <td>{{infos.pes_data2}}</td>
                    <!-- 
                    <td>
                      <span *ngIf="infos.pes_data_vencimento.split(';').length == 0">Vazio</span>
                      <span *ngFor="let sd of infos.pes_data_vencimento.split(';'); let sindex = index">{{(sd == '' ? '': sd)}}<br /></span>
                    </td>
                    <td>
                      <span *ngIf="infos.pes_quantidade.split(';').length < 1">Vazio</span>
                      <span *ngFor="let si of infos.pes_quantidade.split(';'); let sindex = index">{{ (si == '' ? '': si)}} <br /></span>
                    </td> -->
                    <!-- <td>{{infos.pes_preco.replace('.',',').replace(',', '.')}}</td>
                    <td>{{infos.pes_numero_frentes || 'Vazio'}}</td>
                    -->
                    <td>
                      <span class="material-icons {{infos.pes_rupturatotal == '1'? 'rupturaTr':'normalTr'}}">done_outline</span>
                    </td>
                    <td>
                      <span class="material-icons {{infos.pes_estoque == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                    </td>
                    <td>
                      <span class="material-icons {{infos.pes_prateleira == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </main>
</div>