page-critic-modal {
    
    .nopad{
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding: 12px 5px;
    }

    .dangerTr{
        color: rgb(0, 174, 0);
    }

    .rupturaTotal{
        color: rgb(146, 0, 0);
    }
    
    .normalTr{
        color: rgba(139, 139, 139, 0.5);
    }
    
    table{
        tr td{
            text-align: center;
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
            padding: 0px;
            font-size: 12px;
        }
    }

    @keyframes pisca{
        100%{
            background-color: #f5f7fa;
            color: #54667a;
        }0%{
            background-color: rgba(187, 13, 13, 0.8);
        }
    }
    
    .dangerRow{
        animation: 1s pisca infinite;
        background-color: rgba(187, 13, 13, 0.8);
        color: #f5f7fa;
    }
    
    .dangerRow:hover{
        background-color: #f5f7fa;
        color: #54667a;
    }

}
