<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;"></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;"
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png"
      style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>

  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <div *ngIf="redes.length < 1" style="display: table; margin: 2% auto;">
        <div class="rotate"
          style="border-radius: 200px; width: 40px; height: 40px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
      </div>

      <div *ngIf="redes.length > 0">
        <div *ngFor="let r of redes; let i = index">

          <div id="loja-{{i}}" class="mdl-card mdl-shadow--2dp mdl-js-button mdl-js-ripple-effect"
            style="border-radius: 4px; min-height: 120px; position: relative; display: table; margin: 10px auto;"
            (click)="newJob(r)">
            <div class="mdl-card__title" style="color: #8c1515; position: relative; min-height: 70px;">
              <h2 class="mdl-card__title-text descChar"
                style="max-width: 200px; font-size: 14px; position: relative; bottom: 7px">{{r.RED_Nome}} -
                {{r.RFIL_Nome}}</h2>

              <div style="float: right; position: absolute; right: 10px">
                <span
                  *ngIf="(r.cliente.length < 1 || r.RFIL_Numero_Visitas <= 0) && (r.RFIL_Nova_Entrada == false && r.RFIL_Nova_Saida == false) && r.RFIL_All_Done == true"
                  style="float: right; margin: 10px; padding: 10px; background-color: rgba(122, 23, 23, .7); border-radius: 150px; color: #f5f7fa; font-weight: bold; font-size: 25px"
                  class="material-icons">done</span>
                <span
                  *ngIf="(r.cliente.length > 0 || r.RFIL_Numero_Visitas < 0) && (r.RFIL_Nova_Entrada == true && r.RFIL_Nova_Saida == false) || (r.RFIL_Nova_Entrada == false && r.RFIL_Nova_Saida == true) "
                  style="float: right; margin: 2px; padding: 10px; background-color: rgba(122, 23, 23, .7); border-radius: 150px; color: #f5f7fa; font-weight: bold; font-size: 17px;"
                  class="material-icons">transfer_within_a_station</span>
                <span *ngIf="(r.cliente.length > 0 && r.RFIL_Numero_Visitas > 0)"
                  style="float: right; margin: 0px; padding: 10px; background-color: rgba(122, 23, 23, .7); border-radius: 150px; color: #f5f7fa; font-weight: bold; font-size: 14px;">{{r.RFIL_Numero_Visitas}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>