<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;"></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;"
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>

  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">

      <span style="display: table; margin: auto; font-size: 12px;">Selecione a Rede</span>

      <div class="mdl-textfield mdl-js-textfield comboBox" style="display: table; margin: auto">
        <input style="cursor: pointer" readonly [(ngModel)]="this.rede" (click)="redeOK = !redeOK" type="text"
          class="comboBox__input">

        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="redeOK = !redeOK">
          <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        </button>

        <div class="comboBox__items" *ngIf="redeOK" (blur)="redeOK = false">
          <button *ngFor="let c of redes; let i = index" (click)="setRede(c)"
            class="comboBox__item mdl-button mdl-js-button" style="position: relative;">
            <span style="position: absolute; left: 2px; top: 2px;">{{c.RED_Nome}}</span>
          </button>
        </div>
      </div>

      <span style="display: table; margin: auto; font-size: 12px;">Selecione o Cliente</span>

      <div class="mdl-textfield mdl-js-textfield comboBox" style="display: table; margin: auto">
        <input style="cursor: pointer" readonly [(ngModel)]="this.cliente" (click)="clienteOK = !clienteOK" type="text"
          class="comboBox__input">

        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="clienteOK = !clienteOK">
          <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        </button>

        <div class="comboBox__items" *ngIf="clienteOK" (blur)="clienteOK = false">
          <button *ngFor="let c of clientes; let i = index" (click)="setCliente(c)"
            class="comboBox__item mdl-button mdl-js-button" style="position: relative;">
            <span style="position: absolute; left: 2px; top: 2px;">{{c.Cli_Nome}}</span>
          </button>
        </div>
      </div>

      <button (click)="search()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
        style="background: #8c1515; margin: 10px; width: 85%; margin: 10px auto; display: table;">
        <span>Pesquisar</span>
      </button>

      <div style="width: 100%; display: table; margin: auto; border-top: 1px solid #dcdcdc;">
        <span style="display: table; margin: 25px auto; font-size: 12px;">Resultados</span>

        <span style="display: table; margin: auto; font-size: 10px;" *ngIf="this.result.length < 1">Selecione a Rede e o
          Cliente para consultar sua meta automaticamente</span>

          <canvas #chart></canvas>
      </div>
    </div>
  </main>
</div>