<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--white">
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content mdl-color--white" style="background: #f5f7fa;">
      <div style="background: #8c1515; height: 60px;">
        <span class="char" style="position: relative; top: 15px; left: 25px; color: #f5f7fa; font-weight: bold;">{{this.navParams.get("PRO_Nome")}}</span>
      </div>

      <div style="width: 100%;">
        <div (click)="setOption('job')" style="width: 48%; margin: auto; display: inline-table;" class="{{showJob == true ? 'sublin': ''}}">
          <span style="color: #8c1515; display: table; margin: 5px auto">Jobs</span>
        </div>
        <div (click)="setOption('entrada')" style="width: 48%; margin: auto; display: inline-table;" class="{{showEntrada == true ? 'sublin': ''}}">
          <span style="color: #8c1515; display: table; margin: 5px auto">Entradas / Saidas</span>
        </div>
      </div>

      <div *ngIf="showJob && !showEntrada">
        <div style="display: table; margin: 2px auto; border-bottom: 1px solid #dcdcdc; background: #f5f7fa;" *ngFor="let t of table; let i = index">
          <div *ngIf="t.content.length > 0; else jobsElse">
            <div style="width: 100%; margin: 5px;">
              <span class="descChar" style="font-size: 14px; font-weight: bold">{{t.rede_nome}} - {{t.filial_nome}}</span>
            </div>
            <table class="mdl-data-table mdl-js-data-table" style="white-space: unset">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Cliente</th>
                  <th>Data / Hora</th>
                  <th>Status</th>
                  <th>Foto / Info</th>
                </tr>
              </thead>
              <tbody>
                <!-- (mousedown)="longPress($event, tc)" (mouseup)="exechandler($event, tc)" -->
                <tr *ngFor="let tc of t.content; let i = index" (press)="longPress($event, tc)">
                  <td style="padding: 0; padding-left: 2px; text-align: center;">{{tc.Cli_Nome}}</td>
                  <td>{{tc.JOB_Data_Job2}} {{tc.JOB_Hora_Job}}</td>
                  <td>{{tc.JOB_Status}}</td>
                  <td>
                    <button (click)="seePhoto('photo', tc)" class="mdl-button mdl-js-button mdl-button--icon">
                      <i class="material-icons mdl-color-text--red-600">remove_red_eye</i>
                    </button>
                    <button (click)="seePhoto('infos', tc)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                      <i class="material-icons" style="color: #8c1515">info_outline</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #jobsElse>
            <div style="width: 100%">
              <div style="width: 100%; margin: 10px;">
                <span class="descChar" style="font-size: 14px; font-weight: bold">{{t.rede_nome}} - {{t.filial_nome}}</span>
              </div>
              <div style="display: table; margin: auto;">
                <i class="material-icons" style="display: table; margin: auto; font-size: 32px;">mood_bad</i>
                <span style="display: table; margin: auto; font-size: 12px;">Nenhum job realizado até agora!</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <div *ngIf="showEntrada && !showJob">
        <div style="display: table; margin: 2px auto; border-bottom: 1px solid #dcdcdc; background: #f5f7fa;" *ngFor="let t of entradas; let i = index">
          <div *ngIf="t.content.length > 0; else entradaelse">
            <div style="width: 100%; margin: 5px;">
              <span class="descChar" style="font-size: 14px; font-weight: bold">{{t.rede_nome}} - {{t.filial_nome}}</span>
            </div>

            <table class="mdl-data-table mdl-js-data-table" style="white-space: unset">
              <thead>
                <tr>
                  <th><i class="material-icons">account_circle</i></th>
                  <th>Tipo</th>
                  <th>Data/Hora Entrada</th>
                  <th>Data/Hora Saida</th>
                  <!-- <th>Informações</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let o of t.content; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                  <td style="width: 42px;">
                    <div style="width: 32px; height: 32px; border-radius: 250px; position: relative;"
                      [style.backgroundColor]="o.type == 'saida' ? '#f4e242':'#940000'">
                      <span class="material-icons" style="font-weight: bold; display: table; margin: auto; position: absolute; top: 25%; left: 25%;"
                        [style.color]="o.type == 'saida' ? '#000':'#f5f7fa'">transfer_within_a_station</span>
                    </div>
                  </td>

                  <td>
                    <span>
                      {{ o.type == 'saida' ? 'Saida': 'Entrada' }}
                    </span>
                  </td>

                  <td>
                    <span>
                      {{ (o.aux_data_entrada + ' / ' + o.aux_hora_entrada ) }}
                    </span>
                  </td>

                  <td>
                    <span>
                      {{(o.aux_data_saida || '') + ' / ' + (o.aux_hora_saida || '')}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #entradaelse>
            <div style="width: 100%">
              <div style="width: 100%; margin: 10px;">
                <span class="descChar" style="font-size: 14px; font-weight: bold">{{t.rede_nome}} - {{t.filial_nome}}</span>
              </div>
              <div style="display: table; margin: auto;">
                <i class="material-icons" style="display: table; margin: auto; font-size: 32px;">mood_bad</i>
                <span style="display: table; margin: auto; font-size: 12px;">Nenhuma entrada/saida realizada até agora!</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </main>
</div>