<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <span style="padding: 10px; display: table; margin: 15px auto; font-size: 32px; font-weight: bold;">Realizar {{this.navParams.get('kind') == 'entrada' ? 'Check-In': 'Check-Out'}}</span>
      <span style="text-align: center; display: table; margin: 5px auto; font-size: 12px; width: 95%" > Olá <b>{{this.navParams.get('content').PRO_Nome}}</b> realize o {{this.navParams.get('kind') == 'entrada' ? 'Check-In': 'Check-Out'}} na loja para garantirmos ainda mais a efetividade dos trabalhos!</span>
      <div >
        <div style="display: table; margin: auto; text-align: center; width: 85%;" >
          <span style="display: table; margin: auto;text-align: center; font-size: 12px; font-weight: bold;"> Quais informações são adquiridas: </span>
          <span style="display: table; margin: auto;text-align: center; font-size: 10px"> Localização GPS, Horario, Loja, Email </span>
          <span style="display: table; margin: auto;text-align: center; font-size: 12px; font-weight: bold;"> É realmente necessario? </span>
          <span style="display: table; margin: auto;text-align: center; font-size: 10px"> Essas informações são de extrema importância, elas garantem sua segurança e nossa funcionalidade, sempre adquirindo um feedback muito transparente do que realmente ocorre em nosso sistema. </span>
        </div>
        
        <button [disabled]="this.makeIt" class=" mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-color--red-500" (click)="checkIn(this.navParams.get('kind'))" style="display: table; margin: 20px auto; width: 120px; height: 120px;">
          <i class="material-icons mdl-color-text--white">add_location</i>
        </button>
        <span style="display: table; margin: auto; font-size: 10px; position:relative; bottom: 15px; padding: 5px; width: 85px; border-radius: 4px; background: rgba(0,0,0,0.8); color: #f5f7fa">Relizar {{this.navParams.get('kind') == 'entrada' ? 'Check-In': 'Check-Out'}}</span>
      </div>
    </div>
  </main>
  <div style="z-index: 5; position: relative; background: #8c1515; width: 100vw;" [ngStyle]="{'bottom': (this.platform.is('ios') ? '35px':'0px')}">
    <div style="display: table; margin: auto;">
      <button (click)="this.viewCtrl.dismiss({done: false})" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white">
        <i class="material-icons">arrow_back</i>
      </button>
    </div>
  </div>
</div>