page-entrada-saida-job {

    .markerDrop{
        animation: animationFrames linear 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames linear 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animationFrames linear 1s;
        -moz-animation-iteration-count: 1;
        -moz-transform-origin: 50% 50%;
        -o-animation: animationFrames linear 1s;
        -o-animation-iteration-count: 1;
        -o-transform-origin: 50% 50%;
        -ms-animation: animationFrames linear 1s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%;
      }
      
      @keyframes animationFrames{
        0% {
          transform:  translate(-26px,0px)  ;
        }
        4% {
          transform:  translate(-26px,120px)  ;
        }
        100% {
          transform:  translate(-26px,120px)  ;
        }
      }
      
      @-moz-keyframes animationFrames{
        0% {
          -moz-transform:  translate(-26px,0px)  ;
        }
        4% {
          -moz-transform:  translate(-26px,120px)  ;
        }
        100% {
          -moz-transform:  translate(-26px,120px)  ;
        }
      }
      
      @-webkit-keyframes animationFrames {
        0% {
          -webkit-transform:  translate(-26px,0px)  ;
        }
        4% {
          -webkit-transform:  translate(-26px,120px)  ;
        }
        100% {
          -webkit-transform:  translate(-26px,120px)  ;
        }
      }
      
      @-o-keyframes animationFrames {
        0% {
          -o-transform:  translate(-26px,0px)  ;
        }
        4% {
          -o-transform:  translate(-26px,120px)  ;
        }
        100% {
          -o-transform:  translate(-26px,120px)  ;
        }
      }
      
      @-ms-keyframes animationFrames {
        0% {
          -ms-transform:  translate(-26px,0px)  ;
        }
        4% {
          -ms-transform:  translate(-26px,120px)  ;
        }
        100% {
          -ms-transform:  translate(-26px,120px)  ;
        }
      }
}
