<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" [ngStyle]="{'height': (this.platform.is('ios') ? '95vh':undefined)}">
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <div style="background: #8c1515; height: 60px;">
        <span class="char" style="position: relative; top: 20px; left: 25px; color: #f5f7fa; font-weight: bold;">Jobs realizados hoje</span>
      </div>
      <div style="display: table; margin: 5px auto; border-bottom: 1px solid #dcdcdc;" *ngFor="let t of table; let i = index">
        <div *ngIf="t.content.length > 0; else jobsElse">
          <div style="width: 100%; margin: 10px;">
            <span class="descChar" style="font-size: 14px; font-weight: bold">{{t.rede_nome}} - {{t.filial_nome}}</span>
          </div>
          <table class="mdl-data-table mdl-js-data-table" style="white-space: unset">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Cliente</th>
                <th>Data / Hora</th>
                <th>Status</th>
                <th>Foto</th>
              </tr>
            </thead>
            <tbody> <!-- (mousedown)="longPress($event, tc)" (mouseup)="exechandler($event, tc)" -->
              <tr *ngFor="let tc of t.content; let i = index" (press)="longPress($event, tc)">
                <td style="padding: 0; padding-left: 2px; text-align: center;">{{tc.Cli_Nome}}</td>
                <td>{{tc.JOB_Data_Job2}} {{tc.JOB_Hora_Job}}</td>
                <td>{{tc.JOB_Status}}</td>
                <td>
                  <button (click)="seePhoto(tc)" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons mdl-color-text--red-600">remove_red_eye</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>      
        </div>
        <ng-template #jobsElse>
          <div style="width: 100%">
            <div style="width: 100%; margin: 10px;">
              <span class="descChar" style="font-size: 14px; font-weight: bold">{{t.rede_nome}} - {{t.filial_nome}}</span>
            </div>
            <div style="display: table; margin: auto;">
              <i class="material-icons" style="display: table; margin: auto; font-size: 32px;">mood_bad</i>
              <span style="display: table; margin: auto; font-size: 12px;">Nenhum job realizado até agora!</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </main>
</div>