<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <div class="mdl-card mdl-shadow--2dp scaleIn" style="width: 80%; display: table; margin: 15% auto; margin-bottom: 20px;">
          <div class="mdl-card__title">
            <span class="descChar">Esqueceu a senha?</span>
          </div>
          <div class="mdl-card__media mdl-color--white">
            <div style="width: 100%; margin-top: 20px;">
              <input id="emailInput" class="simpleInput" type="email" placeholder="E-mail" [(ngModel)]="this.email"/>
            </div>
            <p class="descChar" style="position: relative; top: 20px; padding: 8px; font-size: 12px">
              Será enviado suas credenciais no e-mail digitado acima.
              Isso pode levar alguns minutos.
            </p>
            <!-- <span (click)="forgot()" class="char" style="position: relative; left: 10px; top: 15px; font-weight: bold;">Esqueceu a senha?</span> -->
          </div>
          <div class="mdl-card__actions">
            <button (click)="recuperar()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" style="background: #8c1515; z-index: 999; margin: 10px; float: right">
              <span>Recuperar</span>
            </button>
          </div>
        </div>
    </div>
  </main>
</div>