<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #f5f7fa; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!-- <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
      <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">arrow_back</i>
      </button>
      <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
      <div class="mdl-layout-spacer"></div>
    </header> -->
  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: rgba(0,0,0,0.4);" (click)="this.navParams.get('type') != 'local' ? this.navCtrl.pop() : return;">
    <div class="page-content" style="background: #f5f7fa">
      <div *ngIf="this.navParams.get('type') == 'photo'">
        <div style="background: #f5f7fa; border-radius: 2px;width: 95%; display: table; margin: 10% auto">
          <i class="material-icons" style="display: table; margin: auto; font-size: 42px; color: #000;">info_outline</i>
          <div style="width: 100%; height: 1px; border-top: 1px solid #000; display: table; margin: 5px auto;"></div>
          <span style="display: table; margin: auto; margin-bottom: 5px; font-size: 18px; font-weight: bold;">Observações</span>
          <span style="display: table; margin: auto; font-size: 16px; padding: 15px;">{{this.navParams.get('obs')}}</span>
        </div>
        <ion-slides zoom="true" style="margin: auto; display: table; margin-top: 5%">
          <ion-slide *ngFor="let p of photos">
            <div class="swiper-zoom-container">
              <img style="width: 95%; margin: auto; display: table;" [src]="'https://kstrade.com.br/sistema/assets/kstrade_php/uploads/'+p" />
            </div>
          </ion-slide>
        </ion-slides>
        <div style="display: table; margin: auto; width: 100%; border-bottom: 1px solid #dcdcdc">
          <span style="display: table; margin: auto; font-size: 12px; color: #f5f7fa; font-weight: bold">Arraste para os
            lados para visualizar as demais fotos</span>
          <span style="display: table; margin: auto; font-size: 12px; color: #f5f7fa; font-weight: bold">Toque fora da
            foto para fechar</span>
        </div>
      </div>

      <div *ngIf="this.navParams.get('type') == 'local'">
        <div style="position: absolute; top: 0; width: 100%; height: 100%; z-index: 5" (click)="this.navCtrl.pop()">
        </div>
        <div id="map_canvas" style="margin: 15% auto; width: 300px; height: 360px;" *ngIf="this.navParams.get('lat') != 'nada' && this.navParams.get('lon') != 'nada'"></div>
        <div style="background: #f5f7fa; border-radius: 2px;width: 95%; display: table; margin: 20% auto" *ngIf="this.navParams.get('lat') == 'nada' || this.navParams.get('lon') == 'nada'">
          <i class="material-icons" style="display: table; margin: auto; font-size: 42px; color: #000;">location_off</i>
          <div style="width: 80%; height: 1px; border-top: 1px solid #000; display: table; margin: 5px auto;"></div>
          <span style="display: table; margin: auto; font-size: 12px; color: #000; font-weight: bold">Este promotor não
            divulgou sua localização</span>
        </div>
        <div style="display: table; margin: 10px auto; width: 100%; border-bottom: 1px solid #dcdcdc">
          <span style="display: table; margin: auto; font-size: 12px; color: #f5f7fa; font-weight: bold">Toque fora do
            mapa para fechar</span>
        </div>
      </div>

      <div *ngIf="this.navParams.get('type') == 'infos'">
        <div style="background: #f5f7fa; border-radius: 2px;width: 95%; display: table; margin: 20% auto">
          <i class="material-icons" style="display: table; margin: auto; font-size: 42px; color: #000;">info_outline</i>
          <div style="width: 100%; height: 1px; border-top: 1px solid #000; display: table; margin: 5px auto;"></div>
          <span style="display: table; margin: auto; margin-top: 30px; margin-bottom: 10px; font-size: 18px; font-weight: bold;">Informações
            adquiridas do aparelho:</span>
          <span style="display: table; margin: auto; margin-bottom: 20px; font-size: 12px;">Para evitarmos fraudes,
            adquirimos informações do aparelho.</span>
          <span style="display: table; margin: auto; margin-bottom: 5px; font-size: 18px; font-weight: bold;">Modelo do
            aparelho</span>
          <span style="display: table; margin: auto; margin-bottom: 15px; font-size: 16px;">{{this.navParams.get('modelo')}}</span>
          <span style="display: table; margin: auto; margin-bottom: 5px; font-size: 18px; font-weight: bold;">Sistema
            operacional e versão</span>
          <span style="display: table; margin: auto; margin-bottom: 15px; font-size: 18px;">{{this.navParams.get('plataforma')}}
            - {{this.navParams.get('versao')}}</span>
          <span style="display: table; margin: auto; margin-bottom: 5px; font-size: 18px; font-weight: bold;">Fabricante</span>
          <span style="display: table; margin: auto; font-size: 18px;">{{this.navParams.get('manufact')}}</span>
        </div>
        <div style="display: table; margin: auto; width: 100%; border-bottom: 1px solid #dcdcdc">
          <span style="display: table; margin: auto; font-size: 12px; color: #f5f7fa; font-weight: bold">Toque fora da
            foto para fechar</span>
        </div>
      </div>
    </div>
  </main>
</div>