<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa;">
    <div class="page-content" >
      <!-- <div *ngIf="this.filiais.length < 1" style="display: table; margin: 2% auto;">
        <div class="rotate" style="border-radius: 200px; width: 40px; height: 40px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
      </div> -->
      <div *ngIf="!doneloading" style="display: table; margin: 2% auto;">
        <div class="rotate" style="border-radius: 200px; width: 40px; height: 40px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
      </div>
      <div *ngIf="this.filiais.length > 0 && doneloading">  
        <span class="mdl-color-text--red-500" style="display: table; margin: 10px auto; font-size: 18px">{{red_nome}}</span>
        <div *ngFor="let r of filiais; let pI = index" id="loja-{{i}}" class="mdl-card mdl-shadow--2dp mdl-js-button mdl-js-ripple-effect" style="position: relative; display: table; margin: 10px auto;"  (click)="seeJobs(r)">
          <div class="mdl-card__title" style="color: #8c1515;">
            <h2 class="mdl-card__title-text descChar" style="position: relative; top: 15px">{{r.RFIL_Nome}} - {{r.RFIL_Cidade}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <span>Endereço: {{r.RFIL_Endereco}}</span><br />
            <span>Bairro : {{r.RFIL_Bairro}}</span><br />
            <span>CEP: {{r.RFIL_CEP}}</span> ​<br />
            <span> Estado: {{r.RFIL_Estado}}</span><br />
            <span>Numero: {{r.RFIL_Numero}}</span>​<br />
            <span>Telefone de Contato: {{r.RFIL_Telefone}}</span>
          </div>
        </div>
      </div>
    </div>  
  </main>
</div>