<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <div class="mdl-card" style="width: 100vw;">
        <div class="mdl-card__title">
        </div>
        <div class="mdl-card__media mdl-color--white">
          <span style="display: table; margin: auto">{{pageParams.RED_Nome}}</span>
          <span style="display: table; margin: auto">{{pageParams.RFIL_Nome}}</span>
          <span style="display: table; margin: auto; font-size: 12px;">{{pageParams.RFIL_Cidade}}</span>

          <div class="mdl-textfield mdl-js-textfield comboBox">
            <input style="cursor: pointer" readonly [(ngModel)]="this.cliente" (click)="clienteOK = !clienteOK"  type="text" class="comboBox__input">

            <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="clienteOK = !clienteOK">
              <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            </button>

            <div class="comboBox__items" *ngIf="clienteOK" (blur)="clienteOK = false">
              <button *ngFor="let c of clientes; let i = index" (click)="setCliente(c)" class="comboBox__item mdl-button mdl-js-button" style="position: relative;">
                <span style="position: absolute; left: 2px; top: 2px;">{{c.Cli_Nome}}</span>
              </button>
            </div>
          </div>

          <div style="width: 90%; margin: auto; display: table;">
            <span style="display: table; margin: auto;">Observações: </span>
            <textarea id="txtJob" class="simpleInput" type="text" [(ngModel)]="this.obs" rows="5" cols="30"></textarea>
          </div>

          <div *ngIf="this.camData.length < 1; else camElse" style="position: relative; top: 20px; bottom: 20px; border: 1px solid #fcfcfc; border-radius: 4px; margin: 0 auto; display: table;">
            <i class="material-icons mdl-color-text--grey-300" style="font-size: 180px; margin: 10px 10px auto; display: table; ">camera_alt</i>
          </div>
          <ng-template #camElse>
            <div style="margin: auto;  position: relative; top: 15px; bottom: 20px; border: 1px solid #dcdcdc;">
              <div *ngFor="let cd of camData; let i = index;" style="position: relative; width: 70%; margin: 10px auto; display: block;">
                <button (click)="removePhoto(i)" style="position: absolute; right: 2px; top: -2px" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white">
                  <i class="material-icons">remove</i>
                </button>
                <img class="{{i > 0 ? 'extra-photo':''}} normal-photo"  [src]="'data:image/png;base64,'+cd"/>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </main>
  <div style="z-index: 5; position: relative; background: #8c1515; width: 100vw;" [ngStyle]="{'bottom': (this.platform.is('ios') ? '45px':'0px')}">
    <div style="display: table; margin: auto;">
      <button (click)="dismiss()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white">
        <i class="material-icons">arrow_back</i>
      </button>
      <button (click)="takePicture()" [disabled]="this.camData.length == 3" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-color--white" style="position: relative;bottom: 25px;width: 60px;height: 60px;border: 1px solid black;">
        <i class="material-icons">camera_alt</i>
      </button>
      <button (click)="doneJob()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white">
        <i class="material-icons">done</i>
      </button>
    </div>
  </div>
</div>
