page-new-job-modal {
    
    textarea.simpleInput[type="text"]{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #dcdcdc;
        width: 100%;
        margin: auto;
        font-size: 12px;
        overflow: auto;
    }

    textarea.simpleInput[type="text"]:focus{
        border: 2px solid #8c1515;
    }

    textarea.simpleInput[type="text"]:invalid{
        background-color: rgba(0,0,0,0);
        border: none;
        border-bottom: 2px solid #d50000;
    }

    .comboBox {
        position: relative;
        width: 90%;
        display: table;
        margin: auto;
    }
    
    .comboBox__button{
        position: absolute;
        right: 5px;
    }
    
    .comboBox__items{
        height: 115px;
        overflow-y: auto;
        max-height: 150px;
        z-index: 5;
        position: absolute;
        background: #f5f7fa;
        width: 100%;
        border: 1px solid #dcdcdc;
    }
    
    .comboBox__item{
        border-bottom: 1px solid #dcdcdc;
        height: 30px;
        position: relative;
        width: 100%;
        bottom: 0;
        top: 0;
        text-transform: none;
    }
    
    .comboBox__input{
        height: calc(2.25rem + 2px);
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #f5f7fa;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .normal-photo{
        margin-left: 10px;margin-top: 20px; margin-bottom: 10px;
    }
    
    .extra-photo{
        border: 4px solid #006b11;
        border-radius: 3px;
    }
    
    .extra-photo::after{
        content: "Foto extra";
        // position: absolute;
        left: 35%;
        bottom: -25px;
        font-weight: bold;
    }
}
