<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" >
      <div *ngIf="!doneLoading" style="display: table; margin: 2% auto;">
        <div class="rotate" style="border-radius: 200px; width: 40px; height: 40px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
      </div>


      
      <div *ngIf="doneLoading"> 
        <div style="width: 100%; margin-bottom: 20px; position: relative;">
          <input type="text" class="mdl-textfield__input" placeholder="Pesquisar promotor" style="width: 85%; display: table; margin: 15px auto;" #inputPro/>
          <button (click)="searchPromotor(inputPro.value)" (keydown)="restorePro($event)" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" style="position: absolute; right: 10px; top: 0">
            <i class="material-icons">search</i>
          </button>
        </div>

        <div style="display: table; margin: auto;" *ngIf="this.resultsPromo.length < 1">
          <i class="material-icons" style="display: table; margin: auto; font-size: 32px;">info</i>
          <span style="display: table; margin: auto; font-size: 12px;">Nenhum resultado encontrado!</span>
        </div>

        <div *ngFor="let p of resultsPromo; let i = index">
            <div id="loja-{{i}}" class="mdl-card mdl-shadow--2dp mdl-js-button mdl-js-ripple-effect" style="position: relative; display: table; margin: 10px auto;" (click)="openRedesFromPromotor(p)">
              <div class="mdl-card__title" style="position: relative; top: 10px; color: #8c1515;">
                  <i class="material-icons" style="color: #8c1515; font-size: 30px; margin: 5px; position: relative; top: 3px">account_circle</i>
                  <h2 class="mdl-card__title-text descChar" >{{p.PRO_Nome}}</h2>
              </div>
            </div>
          </div>
      </div>
    </div>  
  </main>
</div>