<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" >
      <div *ngIf="this.lojas.length < 1" style="display: table; margin: 2% auto;">
        <div class="rotate" style="border-radius: 200px; width: 40px; height: 40px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
      </div>
      <div *ngIf="this.lojas.length > 0">   
          <button (click)="this.openLoja(f)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--white mdl-color-text--red-500 mdl-shadow--2dp" *ngFor="let f of lojas; let i = index" style="border: 1px solid #940000; border-radius: 4px; display: table; margin: 10px auto; width: 95%">
            <span style="position: relative; top: 3px; font-weight: bold;">{{f.nome}}</span> 
            <i class="material-icons" style="float: right; position: relative; top: 5px;">info_outline</i>
          </button>
      </div>
    </div>  
  </main>
</div>