<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <div class="mdl-card" style="width: 100vw;">
        <div class="mdl-card__title">
        </div>
        <div class="mdl-card__media mdl-color--white">
          <span style="display: table; margin: auto">{{this.navParams.get('rede_nome')}}</span>
          <span style="display: table; margin: auto">{{this.navParams.get('rfil_nome')}}</span>
          <small style="text-align: center; display: table; margin: auto;">Deixe seu feedback para a equipe, o mesmo é muito importante para novos horizontes.</small>

          <div style="width: 90%; margin: 30px auto; display: table;">
            <span style="display: table; margin: auto;">Observações: </span>
            <textarea id="txtJob" class="simpleInput" type="text" [(ngModel)]="this.obs" rows="5" cols="30"></textarea>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div style="z-index: 5; position: relative; background: #8c1515; width: 100vw;">
    <div style="display: table; margin: auto;">
      <button (click)="dismiss()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white">
        <i class="material-icons">arrow_back</i>
      </button>

      <button (click)="doneJob()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white">
        <i class="material-icons">done</i>
      </button>
    </div>
  </div>
</div>
