<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;"></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="background: #f5f7fa">
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;"
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>

  <div style="display: table; margin: auto;" *ngIf="this.empty">
    <i class="material-icons" style="display: table; margin: auto; font-size: 32px;">mood_bad</i>
    <span style="display: table; margin: auto; font-size: 12px;">Nenhum resultado até agora!</span>
  </div>

  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa">
    <span
      style="display: table; margin: 10px auto; font-size: 12px;">{{this.navParams.get('cli_nome')}}</span>
      <span
      style="display: table; margin: 10px auto; font-size: 12px;">{{this.navParams.get('red_nome')}}</span>
      <span
      style="display: table; margin: 10px auto; font-size: 12px;">{{this.navParams.get('rfil_nome')}}</span>

    <canvas #chart>
    </canvas>

    <div style="display: table; margin: 20px auto">
      <span style="display: table; margin: 5px auto" [ngStyle]="{'font-size': i == 0 ? '14px':'10px'}">{{this.chartOpts.data.labels[0]}}</span>
      <small> ocupa: </small>
      <span style="display: table; margin: 5px auto" [ngStyle]="{'font-size': i == 0 ? '16px':'12px'}"> {{ this.data[0] }}%</span>
    </div>
  </main>
</div>