<div style="position: relative; width: 100%; height: 100vh">
  <div style="background: rgba(0,0,0,0.925); position: absolute; top: 0; width: 100%; height: 100vh">
  </div>

  <img src="./assets/images/logoecco.png" style="width: 70%; z-index: 10; position: absolute; left: 15%; top: 5%;"
    class="element-animation">


  <div style="width: 100%; position: absolute; z-index: 10; top: 25%; height: 100vh">
    <div class="element-animation" style="width: 90%; margin: auto; display: table; text-align: center; color: #fff;">
      <div style="width: 100%;">
        <span style="font-weight: bold;" class="element-animation">
          Seja muito bem vindo!
        </span>
      </div>

      <br>
      <br>
      
      <span style="width: 85%; font-size: 14px; margin-top: 50px">
        Acompanhe todas as novidades! <br> Com os tablóides atualizados acompanhe tudo o que acontece no mundo do
        Merchandising.
      </span>
      <br>
      <span style="width: 85%; font-size: 14px; margin-top: 50px">
        Aqui você encontrará com facilidade aquela promoção que tanto procura!
      </span>

      <button  (click)="viewCtrl.dismiss()" *ngIf="showButton" class="fade-in mdl-button mdl-js-button mdl-js-ripple-effect"
        style="border: 1px solid #fff; width: 100%; margin: 10% auto; display: table;">
        <span style="color: #fff">Okay</span>
      </button>



      <a href="https://technoxinformatica.com.br/">
        <img src="./assets/images/logo_technox.png" style="width: 50%; z-index: 10; display: table; margin: 25% auto">
      </a>
    </div>
  </div>
</div>