<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #f5f7fa; width: 100%;"></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="overflow-Y: auto; min-height: 550px;">
  <main class="mdl-layout__content mdl-color--white"
    style="height: calc(100vh - 56px); background-color: #f5f7fa !important; ">
    <button (click)="dismiss()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons" style="color: red;">arrow_back</i>
    </button>
    <div class="page-content" style="background: #f5f7fa">
      <div class="mdl-card" style="width: 100%; background-color: transparent">

        <div class="mdl-card__media" style="margin-top: 55px; background-color: transparent">
          <span style="display: table; margin: 5px auto; text-align: center"
            *ngIf="pageParams.JOB_Title !== undefined">{{pageParams.JOB_Title}}</span>
          <span style="font-weight: bold; display: table; margin: 5px auto; text-align: center"
            *ngIf="pageParams.JOB_Obs !== undefined">{{pageParams.JOB_Obs}}</span>

          <img *ngIf="!errorOccured && pageParams.JOB_Foto !== undefined" (error)="callError($event)"
            (click)="presentImage(image)" #image [src]="'https://kstrade.com.br/sistema/assets/kstrade_php/uploads/' + pageParams.JOB_Foto"
            style="max-width: 95vw; display: table; margin: auto;">

          <ion-slides zoom="true" style="margin: auto; display: table; height: 50%"
            *ngIf="fotos !== undefined && fotos.length > 0">
            <ion-slide *ngFor="let p of fotos; let i = index" style="position: relative;">

              <span *ngIf="fotos.length > 1"
                style="border-radius: 80px; width: 40px; background: rgba(0,177,0,.2); padding: 10px; position: absolute; top: 15px; right: 15px; font-weight: bold">{{i + 1}}</span>

              <div class="swiper-zoom-container">
                <img (click)="presentImage(image)" #image (error)="callError($event, image)"
                  style="width: 95%; margin: auto; display: table;" [src]="'https://kstrade.com.br/sistema/assets/kstrade_php/uploads/'+p" />

                <div *ngIf="errorOccured"
                  style="border-radius: 4px; background-color: #f5f7fa; text-align: center; display: table; margin: 15% auto; width: 80%">
                  <i class="material-icons"
                    style="font-size: 56px; display: table; margin: auto; color: #000">warning</i>
                  <span style="color: #000">Ocorreu um erro ao carregar imagem, por favor tente novamente mais
                    tarde!</span>
                </div>
              </div>
            </ion-slide>
          </ion-slides>

          <span style="color: #000" style="display: table; margin: auto; font-size: 12px; margin-top: 20px">
            Toque na foto para ampliar
          </span>

          <span style="color: #000" style="display: table; margin: auto; font-size: 12px; margin-top: 20px">
            Comente e demonstre o que achou desta notícia!
          </span>

          <div
            style="overflow: auto; width: 100%; display: table; margin: 10px auto; border-top: 1px solid #dcdcdc; max-height: 150px;">
            <span style="display: table; margin: auto; font-weight: bold">Comentarios</span>

            <div *ngIf="comentarios.length < 1"
              style="border-radius: 4px; background-color:  #f5f7fa; text-align: center; display: table; margin: 15% auto; width: 80%">
              <i class="material-icons" style="font-size: 36px; display: table; margin: auto; color: #000">mood_bad</i>
              <span style="color: #000">Nenhum comentário ainda</span>
            </div>

            <table *ngIf="comentarios.length > 0" class="ion-diagnostic-table"
              style="font-size: 13px; margin-top: 20px; margin-bottom: 20px; width: 100%;">
              <thead>
                <tr>
                  <td style="width: 42px"></td>
                  <td style="width: 120px"></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr style="position: relative; cursor: pointer;" *ngFor="let c of comentarios; let i = index">
                  <td>
                    <div
                      style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                      <span
                        style="font-weight: bold; color: #f5f7fa; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{c.comentario_ref_nome.split('')[0]}}</span>
                    </div>
                  </td>
                  <td>{{c.comentario_ref_nome}}</td>
                  <td>{{c.comentario_desc}}</td>
                  <td style="position: relative">
                    <span style="position: absolute; font-size: 10px;right: 5px;top: 10px;">
                      {{c.comentario_data}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div style="width: 100%; margin: 5px auto; position: relative; bottom: 35px">
            <a (click)="abrirOptsComentarios()"
              class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--red-700"
              style="width: 100%; display: table; margin: auto">
              Comentar também
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>