page-datas-criticas {

    @keyframes animBorder{
        100%{
            background-color: #fc0000;
            color: #f5f7fa;
            font-weight: bold;
        }0%{
            background-color: #f5f7fa;
        }
    }

    tr.animatedBorder{
        animation: 1s animBorder infinite;
    }

    @keyframes rotate{
        100%{
            transform: rotate(360deg);
        }0%{
            transform: rotate(0deg);
        }
    }
    
    .rotate{
        animation: 4s rotate infinite;
    }
}
