<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" >
      <div class="mdl-card mdl-shadow--2dp" style="display: table; margin: auto; width: 95%">
        <div class="mdl-card__title">
          <span style="display: table; margin: auto; color: #8c1515;">Visualizar Market Share</span>
        </div>
        <div class="mdl-card__media mdl-color--white" style="max-width: 95%;">
        </div>
        <span style="display: table; margin: 4px auto">Clientes <b style="color: #d50000">*</b></span>
        <ion-item style="max-width: 95%;">
          <button (click)="selectCliente()" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 100%; margin-left: 4px">
            <span>{{cliente_select == 0 ? 'Selecione um cliente':cliente_select.Cli_Nome }}</span>
            <i class="material-icons" style="position: relative; left: 10px;">keyboard_arrow_down</i>
          </button>
        </ion-item>

        <!-- <div *ngIf="cliente_select != 0">
          <span style="display: table; margin: 4px auto">Produtos concorrentes <b style="color: #d50000">*</b></span>
          <ion-item style="max-width: 95%;">
            <button (click)="selectConcorrentes()" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 100%; margin-left: 4px">
              <span>{{concorrente_select == 0 ? 'Selecione um concorrente':concorrente_select.pro_nome }}</span>
              <i class="material-icons" style="position: relative; left: 10px;">keyboard_arrow_down</i>
            </button>
          </ion-item>
        </div> -->

        <div *ngIf="cliente_select != 0 && this.produtos.length > 0">
          <span style="display: table; margin: 4px auto">Rede e Filial <b style="color: #d50000">*</b></span>
          <ion-item style="max-width: 95%;">
            <button (click)="selectRede()" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 100%; margin-left: 4px">
              <span>{{rede_select == 0 ? 'Selecione uma rede':rede_select.RED_Nome }}</span>
              <i class="material-icons" style="position: relative; left: 10px;">keyboard_arrow_down</i>
            </button>
          </ion-item>
          <ion-item *ngIf="rede_select != 0" style="max-width: 95%;">
            <button (click)="selectFilial()" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 100%; margin-left: 4px">
              <span>{{filial_select == 0 ? 'Selecione uma filial':filial_select.RFIL_Nome }}</span>
              <i class="material-icons" style="position: relative; left: 10px;">keyboard_arrow_down</i>
            </button>
          </ion-item>
        </div>

        <div *ngIf="cliente_select != 0 && rede_select != 0 && filial_select != 0">
          <span style="display: table; margin: 4px auto">Produtos <b style="color: #d50000">*</b></span>
          <ion-item style="max-width: 95%;">
            <button (click)="selectProdutos()" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 100%; margin-left: 4px">
              <span>{{produto_select == 0 ? 'Selecione um produto':produto_select.pro_nome }}</span>
              <i class="material-icons" style="position: relative; left: 10px;">keyboard_arrow_down</i>
            </button>
          </ion-item>
        </div>

        <!-- <div *ngIf="rede_select && filial_select != 0">
          <span style="display: table; margin: 4px auto">Filtrar</span>
          <ion-item style="max-width: 95%; width: 95%; display: table; margin: auto">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="showDate(data_inicio)" style="text-transform: none; width: 35%; display: inline-table">
              <span>{{data_inicio.showValue}}</span>
            </button>
            <div style="text-align: center; display: inline-table; width: 25%; height: 30px; background: #8c1515; color: #f5f7fa; border-radius: 2px;  display: inline-table" >
              <span>Data</span>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="showDate(data_fim)" style="text-transform: none; width: 35%;  display: inline-table">
              <span>{{data_fim.showValue}}</span>
            </button>
          </ion-item>
        </div> -->
        <div class="mdl-card__actions">
          <button (click)="next()" class="mdl-button mdl-js-button mdl-color--red-500  mdl-color-text--white when_disabled" style="margin-top: 10px; text-transform: none; width: 100%;">
            <span>Prosseguir</span>
            <i class="material-icons">navigate_next</i>
          </button>
        </div>
      </div>
    </div>  
  </main>
</div>