<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;"
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>
    <img src="./assets/images/logoecco.png"
      style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <!-- <div *ngIf="this.navParams.get('rede_nome') !== undefined" style="background: #8c1515; height: 60px;">
        <span class="char"
          style="position: relative; top: 20px; left: 25px; color: #f5f7fa; font-weight: bold;"
        >{{r.RED_Nome}}</span>
      </div> -->

      <div style="display: table; margin: auto; width: 100%;">
        <span style="display: table; margin: 4px auto">Filtrar</span>
        <ion-item style="width: 90%; display: table; margin: auto">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="Pesquise pelo nome da rede" #redeInput/>
          </div>
        </ion-item>

        <button class="mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white"
          (click)="filter(redeInput.value)"
          style="margin: auto;display: table; width: 100%;">
          <span>Filtrar</span>
        </button>

        <button *ngIf="already_filtered" style="padding-top: 4px;" class="mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white"
          (click)="goBackFilter()"
          style="margin: auto;display: table; width: 100%;">
          <span>Voltar</span>
        </button>
      </div>

      <div style="text-align: center; width: 100%; border-bottom: 1px solid #940000">
        <span style="font-weight: bold; font-size: 12px">Seja um FREELANCER KSTRADE</span>
        <br>
        <span style="font-size: 10px">É muito simples, basta tocar sobre uma loja</span>
      </div>

      <div *ngIf="!doneLoading" style="display: table; margin: 2% auto;">
        <div class="rotate" style="border-radius: 200px; width: 40px; height: 40px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
      </div>

      <div *ngFor="let r of resultsFilterRedes" style="text-align: left; border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
        <div style="width: 100%; min-height: 45px" (click)="r.show = !r.show">
            <span
              style="font-size: 16px; cursor: pointer; position: relative; font-weight: bold; padding-left: 5px;">
              {{r.RED_Nome}}
              <i class="material-icons" style="margin-left: 10px;">{{ r.show == true? 'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
            </span>
        </div>

        <div *ngIf="r.show == true">
          <table class="ion-diagnostic-table"
            style="font-size: 13px; margin-bottom: 20px; width: 100%;">
            <thead>
              <tr style="border-bottom: 2px solid #282828;">
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr (click)="solicitarAtendimento({RED_Nome: r.RED_Nome, RED_ID: r.RED_ID, RFIL_ID: rc.RFIL_ID, RFIL_Nome: rc.RFIL_Nome})" style="cursor: pointer; border-bottom: 1px solid #dcdcdc" *ngFor="let rc of r.content; let rI = index" >
                <td>
                  <div style="width: 32px; height: 32px;">
                  </div>
                </td>
                <td>{{rc.RFIL_Nome}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>