page-lojas-visitante {

    @keyframes rotate{
        100%{
            transform: rotate(360deg);
        }0%{
            transform: rotate(0deg);
        }
    }
    
    .rotate{
        animation: 4s rotate infinite;
    }

    
}
