<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
    <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
      <button (click)="this.goBack()" style="position: absolute; left: 10px; top: 12px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">arrow_back</i>
      </button>
      <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
      <div class="mdl-layout-spacer"></div>
    </header>
    <main class="mdl-layout__content" style="width: 100%; height: 100vh">
      <div class="page-content" style="background: #f5f7fa">
        <!-- <iframe src="http://eccotrade.com.br/sistema/aplicativo" style="width: 100%; height: 100vh"></iframe> -->
      </div>
    </main>
</div>