<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" style="background: #8c1515; position: relative; box-shadow: none;">
    <img src="./assets/images/logoecco.png" style="width: 64px; display: table; margin: 5px auto;">
    <div class="mdl-layout-spacer"></div>
  </header>
  <main class="mdl-layout__content mdl-color--white" style="height: calc(100vh - 56px); background: #f5f7fa">
    <div class="page-content" style="background: #f5f7fa">
      <div class="mdl-card mdl-shadow--2dp" *ngFor="let c of cartoes; let i = index" style="margin: 5px auto; width: 90%; display: table;">
        <div class="mdl-card__title">
          <span>Cliente: {{c.Cli_Nome}} - Produto: {{c.pro_nome}}</span>
        </div>
        <div class="mdl-card__media mdl-color--white">
          <ion-list>
              <ion-item>
                <ion-label>Produto em ruptura total</ion-label>
                <ion-checkbox [(ngModel)]="c.rupturaTotal" (click)="c.prateleira = false; c.estoque = false;"></ion-checkbox>
              </ion-item>
            
              <ion-item *ngIf="c.rupturaTotal == false">
                <ion-label>Produto em área de venda</ion-label>
                <ion-checkbox [(ngModel)]="c.prateleira" ></ion-checkbox>
              </ion-item>

              <ion-item *ngIf="c.rupturaTotal == false">
                <ion-label>Produto em estoque</ion-label>
                <ion-checkbox [(ngModel)]="c.estoque" ></ion-checkbox>
              </ion-item>

              <div style="position: relative;" *ngIf="c.rupturaTotal == false && c.prateleira == true">
                <button *ngIf="c.data_vencimento.length <= 2" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" (click)="addData(i)" style="position: absolute; top: 2px; left: 2px; z-index: 10">
                  <i class="material-icons">add</i>
                </button>
                <div style="width: 100%; display: table; margin: auto; position: relative"  *ngFor="let d of c.data_vencimento; let ii = index">
                  <button class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" (click)="clearData(i, ii)" style="position: absolute; right: 20px; top: 25px; z-index: 10">
                    <i class="material-icons">delete_outline</i>
                  </button>
                  <button *ngIf="ii > 0" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" (click)="removeData(i, ii)" style="position: absolute; right: 60px; top: 25px; z-index: 10">
                    <i class="material-icons">remove</i>
                  </button>
                  <ion-item style="width: 90%; display: table; margin: auto">
                    <ion-label color="primary" floating>Data de vencimento</ion-label>
                    <ion-input [(ngModel)]="d.value" (click)="showDate(i, ii)" ></ion-input>
                  </ion-item>
                </div>
              </div>

              <ion-item style="width: 90%; display: table; margin: auto">
                <ion-label color="primary" floating>Data de vencimento (Estoque)</ion-label>
                <ion-input [(ngModel)]="c.data_vencimento_estoque" (keydown)="applyDateMask($event, c.data_vencimento_estoque, i)" (keyup)="applyDateMask($event, c.data_vencimento_estoque, i)"></ion-input>
              </ion-item>

              <!-- <div style="position: relative;" *ngIf="c.rupturaTotal == false &&  (c.prateleira == true || c.estoque == true) ">
                <button *ngIf="c.quantidade.length <= 2" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" (click)="addQuant(i)" style="position: absolute; top: 2px; left: 2px; z-index: 10">
                  <i class="material-icons">add</i>
                </button>
                <div style="width: 100%; display: table; margin: auto; position: relative"  *ngFor="let d of c.quantidade; let ii = index">
                  <button *ngIf="ii > 0" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" (click)="removeQuant(i, ii)" style="position: absolute; right: 20px; top: 25px; z-index: 10">
                    <i class="material-icons">remove</i>
                  </button>
                  <ion-item style="width: 90%; display: table; margin: auto">
                    <ion-label color="primary" floating>Quantidade</ion-label>
                    <ion-input [(ngModel)]="d.value"></ion-input>
                  </ion-item>
                </div>
              </div> -->

              <ion-item style="width: 90%; display: table; margin: auto" *ngIf="c.rupturaTotal == false && c.prateleira == true">
                <ion-label color="primary" floating>Preço</ion-label>
                <ion-input [(ngModel)]="c.preco" (keydown)="applyMoneyMask(c)" (keyup)="applyMoneyMask(c)"></ion-input>
              </ion-item>

              
              <ion-item style="width: 90%; display: table; margin: auto" *ngIf="c.rupturaTotal == false && c.prateleira == true">
                <ion-label color="primary" floating>Numero de Frentes</ion-label>
                <ion-input [(ngModel)]="c.n_frentes"></ion-input>
              </ion-item>
              
              <ion-item style="width: 90%; display: table; margin: auto" *ngIf="c.rupturaTotal == false && c.prateleira == true">
                <ion-label color="primary" floating>Total de Frentes da Categoria</ion-label>
                <ion-input [(ngModel)]="c.n_max_frentes"></ion-input>
              </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>Concorrente: {{c.pro_concorrente_nome}}</ion-list-header>

            <ion-item style="width: 90%; display: table; margin: auto">
              <ion-label color="primary" floating>Numero de Frentes</ion-label>
              <ion-input [(ngModel)]="c.n_frentes_concorrente"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </main>
  <div style="z-index: 5; position: relative; background: #8c1515; width: 100vw;">
    <div style="display: table; margin: auto;">
      <!-- <button (click)="dismiss()" style="float: left; margin-top: 10px;" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white">
        <i class="material-icons">arrow_back</i>
      </button> -->
      <button (click)="donePesquisa()" style="float: right; margin-top: 10px; margin-bottom: 5px;" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--white">
        <i class="material-icons">done</i>
      </button>
    </div>
  </div>
</div>