<div style="background: #f5f7fa; height: calc(100vh - 10px)">  
  <img src="./assets/images/logoecco.png" style="position: relative; left: 15px; display: table; margin: auto; width: 200px; top: 5%">
  <img src="./assets/images/loading.gif" style="display: table; margin: 25% auto; width: 64px;"/>
  <span style="position: relative; margin: auto; display: table" class="char">Carregando...</span>
</div>