<div *ngIf="!connected;" style="background: #f5f7fa; height: calc(100vh - 10px)">
  <img src="./assets/images/logoecco.png" style="position: relative; left: 15px; display: table; margin: auto; width: 200px; top: 5%">
  <img src="./assets/images/loading.gif" style="display: table; margin: 25% auto; width: 64px;"/>
  <span *ngIf="problemLabel" style="font-size: 14px; position: relative;bottom: 65px;margin: auto;display: table;">Problemas com a Internet...</span>
  <i *ngIf="problemLabel" class="material-icons routerAnim" style="display: table; margin: auto">router</i>
  <span style="display: table; margin:  auto; font-size: 10px;">{{version}}</span>
</div>