page-init {
    @keyframes tickRed {
        100%{
            color: #dcdcdc
        }50%{
            color: #d5555f
        }
    }
    .routerAnim{
        animation: 1s tickRed infinite;
    }
}
