page-confirm {

    input.simpleInput[type="text"]{
        position: relative;
        border: none;
        border-bottom: 1px solid #dcdcdc;
        width: 80%;
        margin: auto;
        display: table;
        font-size: 14px;
    }
    
    input.simpleInput[type="text"]:focus{
        border-bottom: 2px solid #8c1515;
    }
    
    input.simpleInput[type="text"]:invalid{
        background-color: rgba(0,0,0,0);
        border: none;
        border-bottom: 2px solid #d50000;
    }
}
