<div *ngIf="this.platform.is('ios')" style="height: 35px; background: #8c1515; width: 100%;" ></div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
    <header class="mdl-layout__header" style="background: #8c1515">
      <span class="mdl-layout-title char" style="padding: 25px">Confirme o seu acesso!</span>
      <div class="mdl-layout-spacer"></div>
    </header>
    <main class="mdl-layout__content" style="height: calc(100vh - 70px);">
      <div class="page-content" style="background: #f5f7fa">
        <div class="mdl-card mdl-shadow--2dp scaleIn" style="width: 80%; display: table; margin: 15% auto; margin-bottom: 20px;">
          <div class="mdl-card__title">
            <span class="descChar">Digite o código</span>
          </div>
          <div class="mdl-card__media mdl-color--white">
            <div style="width: 100%; margin-top: 20px;">
              <input class="simpleInput" type="text" [(ngModel)]="this.codigo"/>
            </div>
            <p class="descChar" style="position: relative; top: 20px; padding: 8px; font-size: 12px">
              Digite o código fornecido no seu e-mail para continuar. Caso o e-mail não chege, contate-nos
            </p>
          </div>
          <div class="mdl-card__actions">
            <button (click)="confirm()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" style="background: #8c1515; z-index: 999; margin: 10px; float: right">
              <span>Cadastrar!</span>
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>